name: Docker Compose CI

on:
  push:
    branches: [ "main", "feature/**" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Creamos el .env falso necesario para que docker compose no se queje de variables vacías
    - name: Create dummy .env file
      run: |
        echo "DB_HOST=mock_host" >> .env
        echo "DB_PORT=5432" >> .env
        echo "DB_NAME=mock_db" >> .env
        echo "DB_USER=mock_user" >> .env
        echo "DB_PASSWORD=mock_pass" >> .env
        echo "JWT_SECRET=super_secret_build_key" >> .env
        echo "JWT_EXPIRES_IN=24h" >> .env
        echo "RATE_LIMIT_WINDOW_MS=900000" >> .env
        echo "RATE_LIMIT_MAX_REQUESTS=100" >> .env

    # Solo hacemos BUILD. Esto valida Dockerfiles y compilación de código.
    # Usamos el archivo de producción para asegurar que lo que va a Render está bien.
    - name: Build Docker Services
      run: docker compose -f docker-compose.yml build
